* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #57ABFF;
  --color-2: #2B2B2B;
  --color-3: #484848;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-2);
  color: white;
}

body > * {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 2;
  top: 0;
  padding: 1rem;
  background-color: var(--color-1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 1rem 0;
}

footer {
  position: sticky;
  bottom: 0;
  padding: 1rem;
  background-color: var(--color-1);
}

ul {
  list-style-type: none;
  background-color: var(--color-3);
  width: 95%;
  padding: 0 1rem;
  border-radius: 1rem;
}

ul > li {
  border-top: 1px solid grey;
}

ul > li:first-child {
  border-top: none;
}

div.input_container {
  position: relative;
  width: 95%;
  margin: 1rem 0;
}

div.input_container > span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: grey;
  transition: 300ms ease-out;
}

div.input_container > input:hover + span::after {
  background-color: var(--color-1);
  height: 2px;
}

div.input_container > input {
  position: relative;
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
}

button {
  position: relative;
  width: 95%;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  background-color: var(--color-1);
  color: white;
  margin: 1rem;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-radius: 1rem;
  transition: 100ms ease-in-out;
}

button:hover::after {
  background-color: #FFFFFF3D;
  left: 0;
  width: 100%;
}

button:active::after {
  background-color: #FFFFFF7D;
  left: 0;
  width: 100%;
}

div.container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 20rem;
  background-color: black;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 1rem;
  overflow-x: hidden;
}

div.container > p:first-child {
  text-align: right;
}

div.container > p:last-child {
  text-align: left;
  background-color: gold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: black;
}

div.dropdown {
  position: relative;
}

div.dropdown > div.background {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000053;
}

div.dropdown > input[type=checkbox] {
  display: none;
}

div.dropdown > div.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 2;
}

div.dropdown > label {
  display: block;
  position: relative;
  z-index: 2;
  width: 2rem;
  height: 2rem;
}

div.dropdown > label:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 900;
  transition: 300ms ease-out;
}

div.dropdown > input[type=checkbox]:checked ~ label:after {
  content: "\58";
  transform: rotate(180deg);
  transition: 300ms ease-out;
} 

div.dropdown > input[type=checkbox]:checked ~ :is(div.dropdown-content, div.background) {
  display: block;
}

div.dropdown > div.dropdown-content > ul {
  border-radius: 0;
  padding: 1rem;
  width: 100%;
} 

div.dropdown > div.dropdown-content > ul button {
  font-size: 1rem;
  background-color: transparent;
  margin: 0;
  width: 100%;
  text-align: left;
} 

div.dropdown > div.dropdown-content > ul button:after {
  border-radius: 0;
} 
